html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #E5E0D9;
}

svg {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#copy {
  position: absolute;
  left: 0;
  bottom: 4px;
  padding-left: 5px;
  font: 9px sans-serif;
  color: #fff;
  cursor: default;
}

#copy a {
  color: #fff;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: clip;
}
#infobox {
    font-family: Helvetica Neue, sans-serif;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 20%;
    color: white;
    background-color: black;
    opacity: 0.75;
    overflow: clip;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#infobox h1 {
    text-align: center;
    font-size: 20px;
}
#map {
    width: auto;
    height: 100%;
}
#infolist {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
#infolist li {
    border-top: 1px solid white;
    margin-left: 0px;
    padding: .5em 1.5em .5em 1.5em;
}
.feature_clickable:hover {
    background-color: #333;
}
.feature_clicked {
    background-color: #333;
}
.feature_name {
    font-size: 10pt;
    font-weight: bold;
}
.feature_type {
    font-size: 8pt;
}
.boundary {
    fill: red;
    stroke: darkred;
    stroke-width: 2px;
    opacity: 0.4;
}
#help {
  position: absolute;
  right: 2%;
  bottom: 2%;
  padding: .5em 1.5em .5em 1.5em;
  font: 10pt sans-serif;
  background-color: black;
  opacity: 0.75;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  cursor: default;
}


